<div class="show-container">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :title, :label => "Product title:", required: false %>
    <%= f.input :short_description, :label => "Short description:", required: false %>
    <%= f.input :description, :label => "Description", required: false %>

    <%= f.submit "Create product", class: "btn-ghost" %>
  <% end %>
</div>
