<div class="show-container">
  <h1><strong><%= @product.title %></strong></h1>
  <h3><%= @product.short_description %></h3>
  <br>
  <p>Description:</p>
  <p><%= @product.description %></p>


<%# <%= link_to "Delete a product", product_path(product), class: "d-block text-decoration-none text-start" %>
  <div class="d-flex">
    <div class="btn-ghost">
      <%= link_to "Edit product", edit_product_path(@product.id), class: "text-decoration-none" %>
    </div>

    <div class="btn-ghost">
      <%= link_to "Back to products", products_path, class: "text-decoration-none" %>
    </div>

    <div class="btn-ghost-delete">
      <%= link_to "Delete product", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none" %>
    </div>
  </div>
</div>
